@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  font-family: 'DynaPuff', cursive;
}
body{
  background: url(https://i.imgur.com/PmL9yke.jpg);
  justify-content: center;
  align-items: center;
  font-family: 'DynaPuff', cursive;
}
.register, .signin{
  justify-content: center;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  position: relative;
  width: 130%;
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.signinpage, .registerpage{
  font-family: 'DynaPuff', cursive;
  justify-content: center;
  display: grid;
  align-items: center;
}

.brand-logo {
  height: 105px;
  width: 105px;
  padding-bottom: 5%;
  background: url("css/localflea.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px rgb(70, 192, 115), -7px -7px 10px rgb(70, 192, 115);
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  font-family: 'DynaPuff', cursive;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: rgb(43, 10, 89);
}

input {
  font-family: 'DynaPuff', cursive;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

 button {
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  margin-top: 30px;
  background: rgb(70, 192, 115);
  height: 50px;
  border-radius: 90px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px rgb(43, 10, 89), -6px -6px 6px rgb(43, 10, 89);
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}
.feed, .profile, .newpost{
font-family: 'DynaPuff', cursive;
}
.protected{
  justify-content: center;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  background: white;
  width: 350px;
  height: 90px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.feederror{
  justify-content: center;
  display: grid;
  align-items: center;
}
.createpost{
  justify-content: center;
  display: grid;
  align-items: center;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  width: 350px;
  height: 425px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.createpostpage{
  justify-content: center;
  display: grid;
  align-items: center;
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.logo{
    block-size: -4rem;
  }

	a{
    text-decoration: none;
  }

.likes{
  width: 5rem;
  margin: 5px;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  /* margin-top: -2.5rem;
  margin-left: 1rem */
  justify-content: center;
}

.like {
  display: block;
  cursor: pointer;
  overflow: visible;
}
.postcard-container{
  display: flex;
  flex-direction: column;
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  /* justify-content: space-between; */
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.navbar{
  justify-content: flex-end;
}

.card-icon i{
  font-size: 2.4rem;
  cursor: pointer;
}

.title-margin{
  margin-right: .4rem;
}
.feedpost{
  /* margin-left: 25rem; */
  block-size: auto;
  justify-content: center;
  align-items: center;
  margin: 0 20% 0 20%;
}
.homepage{
  display: flex;
  color: green;
  justify-content: center;
}

.welcomescreen{
  background-color: rgb(35, 35, 35);
  border: white 5px dashed;
  font-family: 'VT323';
  color: 'green';
  font-size: 30px;
}
.mainnav{
  display: flex;
  flex-direction: row-reverse;
  height: max-content;
  justify-content: center;
  /* background-color:crimson; */
}
.post-image{
  max-width: 75%;
  max-height: 75%;
}
.caption{
max-width: 80%;
max-height: 80%
}
.caption-container{
color: #262626;
font-size: 14px;
cursor: pointer;
font-weight: 600;
text-align: center;
}

.caption {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
}

.card-img-container{
  width: 40vw;
  height: auto;
}
.card-img-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-bottom: 20%;
margin-top: 20%; */
border-radius: 10px;
background: white;
box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
}
.header-img-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 10px;
background: rgb(224, 179, 224);
box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
}
.profilepic{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;  
  align-items: flex-start;
}
.comment-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height:auto;
  border: 5px black dotted;
}
 .comment-body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  background: rgb(223, 174, 228);
  box-shadow: 1px 1px 1px rgb(43, 10, 89), -1px -1px 1px rgb(43, 10, 89);
} 
.postcomment-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ud-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.posts{
  margin-top: 10%;
  margin-bottom: 10%;
  background: white;
  justify-content: center;
  align-items: center;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  width: auto;
  height: auto;
  border-radius: 20px;
  box-sizing: border-box;
}
.usernamefeed{
  display: flex;
  flex-direction: row;
}



