.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: url(https://i.imgur.com/PmL9yke.jpg);
 
}
.register{
  justify-content: center;
  display: flex;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  /* position: relative; */
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.signin{
  justify-content: center;
  display: flex;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  /* position: relative; */
  width: 350px;
  height: 425px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px rgb(43, 10, 89), -14px -14px 20px rgb(43, 10, 89);
}
.brand-logo {
  height: 105px;
  width: 105px;
  background: url("css/localflea.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px rgb(70, 192, 115), -7px -7px 10px rgb(70, 192, 115);
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  font-family: 'DynaPuff', cursive;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: rgb(43, 10, 89);
}

input {
  font-family: 'DynaPuff', cursive;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  margin-top: 20px;
  background: rgb(70, 192, 115);
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px rgb(43, 10, 89), -6px -6px 6px rgb(43, 10, 89);
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}
.feed{
    font-family: 'DynaPuff', cursive;
}
.protected{
  justify-content: center;
  display: flex;
  display: grid;
  font-family: 'DynaPuff', cursive;
  color: rgb(43, 10, 89);
  background: white;
  width: 250px;
  height: 100px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}